
$main-bg-color: #FAFAFC;
$secondary-bg-color: #347CCA;
$space-bg-color: #e4e4e9;
$space-bg-color2: #F7F7FC;
$bar-color: #FFFFFF;
$font-color1: #FFFFFF;
$font-color2: #424242;
$font-color3: #616161;
$font-color4: #1E78E9;
$font-color5: black;
$button-color1: #212121;

