

.review-bg{
  margin: 0 auto;
  height: 110vh;
  width: 100vw;
  background: url("../images/review-bg.jpg");
  position: relative;
  max-width: 1900px;
}

.review-img-cover{
  width: 100%;
  height: 100%;
  background: #2a2a2d;
  mix-blend-mode: normal;
  opacity: 0.6;
  position: relative;
}

.review-content-container{
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;

  img{
    padding-top: 20px;
    max-width: 340px;
    max-height: auto;
  }
}

.review-wrapper{
  border-radius: 23px 24px 22px 23px;
  width: 50%;
  height: 50%;
  background-color: $main-bg-color;
  padding: 50px 40px;
}

.review-title{
  font-weight: bold;
  font-size: 30px;
  line-height: 44px;
  padding-bottom: 10px;
}

.review-rating-title{
  font-size: 17px;
  line-height: 44px;
  color: $font-color2;
}

.rating-container{
  padding-bottom: 20px;
}

.review-post{
  border-radius: 23px;
  margin-top: 45px;
  background-color: $secondary-bg-color;
  padding: 7px 0px;
  max-width: 180px;
  font-size: 20px;
  line-height: 23px;
  color: $font-color1;
  text-align: center;
  cursor: pointer;
}
